/* RESET Y GENERALES*/

/* RESET */
*{
    margin: 0;
    padding: 0;
      
} 

/* ESILOS GENERALES */
* { 
    background-color: #ddcce5; /* VARIALES O LISTA DE COLORES */
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* MIXIN FUENTES */
h1 {
    font-weight: 600;
    font-size: xx-large;
}

h2 {
    font-size: x-large;
    font-weight: 450;
}

p {
    font-weight: 400;
    font-size: medium;
}

li {
    font-weight: 400;
    font-size: medium;
}

body {
    background-color: #ddcce5; /* VARIABLE O LISTA COLORES */
}

footer {    /* MIXIN FOOTER */
    margin-top: 5vh;
    background-color: #dbbfe7;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
}



/* ESTILOS DEL NAV */ /* AL PRINCIPIAL */
.navbar {
    background-color: #dbbfe7;
}

.navbar div{
    background-color: #dbbfe7;
}

.navbar-toggler-icon {
    background-color: #dbbfe7;
}

.navbar a {
    background-color: #dbbfe7;
}

header nav .logoNav {
    max-width: 70px;
    background-color: #dbbfe7;
}

header nav ul li a {
    text-decoration: none;
    color: black;
}

header nav ul li a:hover {
    color: #56007C;
}


/* INICIO */
/* AL ARCHIVO DE INICIO */

.mainInicio {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;/* MIXIN FLEX COLUMNA */
    min-height: 81vh;
}

.tituloInicio {
    margin: 3vh;
}
/* hacer mixin d e titulos */

.subTituloInicio {
    text-align: center;
    margin: 0.5vh;
}

.parrafoInicio {
    margin: 3vh 2vh;
    max-width: 80vh;

}

.fotoFrente {
    align-items: center;
    max-width: 100%;
}





/* SERVICIOS */
.mainServicios {
    text-align: center;
}

.sectionServicios {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.articleServicios {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:4vh 0;
    height: 55vh;
    width: 50vh;
    flex-direction: column;
}

.tituloServicios {
    margin: 4vh 0 2vh 0; /* INCLUIR EN TITULOS H1  */ 
}

.fotoServicio {
    border-radius: 10px;
    max-width: 35vh;
}

.subTituloServicios {
    margin: 2vh;
}

.parrafoServicios {
    margin: 0 4vh;
    max-width: 40vh;

}





/* CATEGORIAS */

.mainCategorias {
    /* display: grid; */
    text-align: center;  /* MIXIN PARA CARDS DE CATEGORÍAS Y PRODUCTOS - GRID */
}

.tituloCategorias {
    margin: 4vh 0 4vh 0;
}

.imagenCategorias {
    /* max-width: 350px; */
    border-radius: 10px;
}

.articleCategorias {
    display: flex;
    justify-content: center;
    text-align: center;
    /* height: 450px; */

}

.subTituloCategorias {
    color: black;
    margin-top: 2vh;
}

.linkCategorias {
    text-decoration: none;
}





/* PRODUCTOS */

.mainProductos {
    display: grid;
    text-align: center;
  
}

.sectionProductos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.articleProductos {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.tituloProductos {
    margin-top: 4vh;
}

/*fotoProductos*/
.imagenProductos {
    max-width: 40vh;
    margin: 3vh 0 2vh 0;
    border-radius: 10px;
}

.subTituloProductos {
    max-width: 40vh;
}


.articleProductos ul {
    text-align: left;
}


/*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/

/* NOSOTROS */

.sectionNosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.imagenNosotros {
    max-width: 40vh;
    margin-top: 4vh;  
}

.subTituloNosotros {
    margin: 4vh 0 1vh 0;
}


.sectionNosotros ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


.sectionNosotros a img {
    margin: 0 0 2vh 0;
    width: 6vh;
}

/*↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑*/

/***********
  MQ TABLET
***********/

@media screen and (min-width: 600px) {
    
    /* GENERALES */
    * {
        font-size: 500;
    }
    
    h1 {
        font-weight: 600;
        font-size: xx-large;
    }
    
    h2 {
        font-size: x-large;
        font-weight: 450;
    }
    
    p {
        font-weight: 400;
        font-size: medium;
    }

    /* INICIO */

    .fotoFrente {
        max-height: 85vh;
    }

    /* SERVICIOS */

    .articleServicios {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 35vh;
        width: 65vh;
        flex-direction: column;
        gap: 3vh;
    }


    .parrafoServicios {
        text-align: left;
    }


    /* CATEGORIAS */
    
    .mainCategorias {
        justify-items: center;
    }
    .sectionCategorias {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5vh;

    }

    .articleCategorias {
        height: 35vh;
    }
        
    .imagenCategorias {
        max-width: 25vh;
    }



    

}



/***********
  MQ TABLET PAISAJE
***********/

@media screen and (min-width: 768px) {

    /* CATEGORIAS */
    
    .mainCategorias {
        justify-items: center;
    }

    .sectionCategorias {
        grid-template-columns: repeat(3, 1fr);
        gap: 5vh;
       }

    
    /* PRODUCTOS */
    .mainProductos {
        justify-items: center;
    }
    
    .sectionProductos {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        justify-items: center;
        gap: 7vh;
    }
   

    .articleProductos {
        max-width: 25vh;
    }

    .imagenProductos {
        max-width: 25vh;
    }

    /* NOSOTROS */

    .imagenNosotros {
        max-width: 65vh;
    }

}

