/* RESET */
*{
    margin: 0;
    padding: 0;
       
} 

/* ESILOS GENERALES */
* { 
    background-color: #ddcce5;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-weight: 600;
}

h2 {
    font-weight: 400;
}

body {
    background-color: #ddcce5;
}

/* ESTILOS DEL NAV */
header nav .logoNav {
    max-width: 70px;
}

header nav .listaNav {
    list-style: none;
    justify-content: space-around;
    width: 90%;
    margin-left: 3%; 
}

header nav ul a li {
    text-decoration: none;
    color: black;
}

header nav ul a li:hover {
    color: #56007C;
}


/* ESTILOS DEL MAIN - INICIO */

.mainInicio {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.tituloInicio {
    margin: 30px;
}

.subTituloInicio {
    text-align: center;
    margin: 10px;
}

.parrafoInicio {
    margin: 20px 10px;

}

.fotoFrente {
    align-items: center;
    max-width: 100%;
}


/* SERVICIOS */
.mainServicios {
    text-align: center;
}

.sectionServicios {
    display: block;
}

.articleServicios {
    display: block;
    box-sizing: content-box;
    margin:20px 0;
    height: 500px;
}

.tituloServicios {
    margin: 10px 0 30px 0;
}

.fotoServicio {
    border-radius: 10px;
    max-width: 80%;
}

.subTituloServicios {
    margin: 20px;
}

.parrafoServicios {
    margin: 0 50px;
    text-align: left;
}


/* CATEGORIAS */

.mainCategorias {
    flex-direction: column;
    text-align: center;
}

.tituloCategorias {
    margin: 10px 0 30px 0;
}

.imagenCategorias {
    max-width: 350px;
    border-radius: 10px;
}

.articleCategorias {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 450px;

}

.subTituloCategorias {
    color: black;
    margin-top: 10px;
}

.linkCategorias {
    text-decoration: none;
}


/* PRODUCTOS */

.productos article {
    text-align: center;
}

.productos img {
    max-width: 200px;
    margin-top: 50px;
}

.productos article ul {
    text-align: left;
    margin-left: 40%;
}

/* NOSOTROS */

.nosotros {
    text-align: center;
}

.nosotros img {
    margin-top: 50px;
}

.nosotros h1 {
    font-size: xx-large;
}

.nosotros h3 {
    margin-bottom: 1px;
    margin-top: 40px;
}

.nosotros ul {
    text-align: left;
    margin-left: 35%;
}

.nosotros a img {
    margin-top: 10px;
    width: 4%;
    margin-inline: 5px;
}

/* ESTILOS DEL FOOTER */

.footerInicio {
    margin-top: 200px;
    text-align: center;
}

.footerServicios {
    text-align: center;
}

.footerCategorias {
    text-align: center;
}

