/* RESET */
*{
    margin: 0;
    padding: 0;
      
} 

/* ESILOS GENERALES */
* { 
    background-color: #ddcce5;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-weight: 600;
    font-size: xx-large;
}

h2 {
    font-size: x-large;
    font-weight: 450;
}

p {
    font-weight: 400;
    font-size: medium;
}

footer {
    text-align: center;
}

body {
    background-color: #ddcce5;
}

/* ESTILOS DEL NAV */
header nav .logoNav {
    max-width: 70px;
}

header nav .listaNav {
    list-style: none;
    justify-content: space-around;
    width: 90%;
    margin-left: 3%; 
}

header nav ul a li {
    text-decoration: none;
    color: black;
}

header nav ul a li:hover {
    color: #56007C;
}


/* ESTILOS DEL MAIN - INICIO */

.mainInicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.tituloInicio {
    margin: 3vh;
}

.subTituloInicio {
    text-align: center;
    margin: 0.5vh;
}

.parrafoInicio {
    margin: 3vh 2vh;
    max-width: 80vh;

}

.fotoFrente {
    align-items: center;
    max-width: 100%;
}


/* SERVICIOS */
.mainServicios {
    text-align: center;
}

.sectionServicios {
    display: block;
}

.articleServicios {
    display: block;
    box-sizing: content-box;
    align-items: center;
    margin:4vh 0;
    height: 55vh;
}

.tituloServicios {
    margin: 3vh 0 3vh 0;
}

.fotoServicio {
    border-radius: 10px;
    max-width: 35vh;
}

.subTituloServicios {
    margin: 2vh;
}

.parrafoServicios {
    margin: 0 4vh;
    text-align: left;
}


/* CATEGORIAS */

.mainCategorias {
    flex-direction: column;
    text-align: center;
}

.tituloCategorias {
    margin: 10px 0 30px 0;
}

.imagenCategorias {
    max-width: 350px;
    border-radius: 10px;
}

.articleCategorias {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 450px;

}

.subTituloCategorias {
    color: black;
    margin-top: 10px;
}

.linkCategorias {
    text-decoration: none;
}


/* PRODUCTOS */

.mainProductos {
    display: block;
    align-items: center;
    text-align: center;
    
}

.articleProductos {
    text-align: center;
}

.imagenProductos {
    max-width: 300px;
    margin: 30px 0 10px 0;
    border-radius: 10px;
}

.subTituloProductos {
    margin: 5px 50px 15px 50px;
}

.articleProductos ul {
    text-align: left;
    padding-left: 40%;
}

/* NOSOTROS */

.sectionNosotros {
    display: block;
    text-align: center;
}

.imagenNosotros {
    max-width: 90%;
    margin: 40px 5px 10px 5px;
    
}

.subTituloNosotros {
    margin: 30px 0 5px 0;
}

.sectionNosotros ul {
    list-style: none;
    text-align: left;
    margin-left: 15%;
}

.sectionNosotros a img {
    margin: 0 0 15px 0;
    width: 10%;
    margin-inline: 5px;
}

/* ESTILOS DEL FOOTER */



.footerInicio {
    margin-top: 21vh;
}

.footerProductos {
    margin-top: 50px;
}

.footerNosotros {
    margin-top: 50px;
}



/***********
  MQ TABLET
***********/

@media screen and (min-width: 600px) {
    * {
        font-size: 500;
    }
    
    h1 {
        font-weight: 600;
        font-size: xx-large;
    }
    
    h2 {
        font-size: x-large;
        font-weight: 450;
    }
    
    p {
        font-weight: 400;
        font-size: medium;
    }

}