// Imports
@import "abstracts/vars";
@import "abstracts/mixins";


/* RESET */
*{
    margin: 0;
    padding: 0;
} 


/* GENERALES */
* {
    background-color: $colorPrincipal;
    font-family: "Poppins", sans-serif;
    font-style: normal;  
    list-style: none;
}

h1 {
    @include fuenteGrande;
}

h2, h3 {
    @include fuenteMedia;
}

p, li, a {
    @include fuentePequeña;
}

footer {
    @include footerGeneral;
}


/* ESTILOS NAV */
nav {

    background-color: $colorSecundario;
    
    .navbar-toggler-icon, div, a, ul, li, .logoNav {
        background-color: $colorSecundario;   
    }
   
    .logoNav {
        width: 7vh;
    }  
}



/* ESTILOS INICIO */
.mainInicio {
    @include flexColumna;
    min-height: 89vh;


    .fotoFrente {
        align-items: center;
        width: 100vw;

    }

    .tituloInicio {
        @include tituloPrincipal;
    }

    .subTituloInicio {
        @include subTitulo;
    }

    .sectionInicio {
        @include flexColumna;

        .parrafoInicio {
            margin: 3vh;
            max-width: 80vh;
        }
    }
}


/* ESTILOS SERVICIOS */
.mainServicios {
    
    .tituloServicios {
        @include tituloPrincipal;
    }  

    .sectionServicios {
        @include flexColumna;
 
        .articleServicios {
            @include flexColumna;
            height: 55vh;
            margin-bottom: 3vw;

            &:hover {
                @include hoverFoto;
            }

            .fotoServicios {
                @include fotoArticulo;
                width: 35vh;
            }

            .divServicios {
                @include flexColumna;

                .subTituloServicios {
                    @include subTitulo;
                }
            }

            .parrafoServicios {
                max-width: 35vh;
            }

        }
    }
}


/* ESTILOS CATEGORIAS */
.mainCategorias {
    display: grid;

    .tituloCategorias {
        @include tituloPrincipal;
    }

    .sectionCategorias {
        
        .articleCategorias {
            @include flexColumna;
            height: 50vh;
            
            &:hover {
                @include hoverFoto;
            }

            .linkCategorias {
                text-decoration: none;

                .fotoCategorias {
                    @include fotoArticulo;              
                    width: 35vh;
                }
    
                .subTituloCategorias {
                    @include subTitulo;
                }
            }

        }
    }
}


/* ESTILOS PRODUCTOS */
.mainProductos {

    .tituloProductos {
        @include tituloPrincipal;
    }

    .sectionProductos {
        @include flexColumna;
    
        .articleProductos {
            @include flexColumna;
            height: 65vh;

            &:hover {
                @include hoverFoto;
            }

            .fotoProductos {
                @include fotoArticulo;
                width: 35vh;
            }

            .subTituloProductos {
                @include subTitulo;
                width: 80vw;
            }

            ul {
                text-align: left;
            }
        }
    }
}


/* ESTILOS NOSOTROS */

.mainNosotros {

    .sectionNosotros {
        @include flexColumna;

        .imagenNosotros {
            max-width: 40vh;
            margin-top: 4vh;
        }

        .subTituloNosotros {
            @include subTitulo;
        }

        ul {
            margin-bottom: 3vh;
        }

        a {
            img {
                margin: 0 0 2vh 0;;
                width: 6vh;
            }
        }
    }

}


// MEDIA QUERIES

/* TABLET LANDSCAPE */

@media screen and (min-width: 769px) {
    
    /* INICIO */
    .mainInicio {

        .fotoFrente {
            max-width: 60vw;
        }
    
        .sectionInicio {

            .parrafoInicio {
                max-width: 45vw;
            }
        }
    }


    /* SERVICIOS */
    .mainServicios {
        
        .sectionServicios {

            .articleServicios {
                display: grid;
                @include gridTemplate(2, 1fr);
                @include articleSize(40vh, 40vw, 3vh);
            }
        }
    }


    /* CATEGORIAS */
    .mainCategorias {
        justify-items: center;
        
        .sectionCategorias {
            display: grid;
            grid-template-columns: repeat(3, 1fr);            

            .articleCategorias {
                @include articleSize(45vh, 27vw, 1vh); //AGREGAR MQ PARA MAS ANCHO Y CAMBIAR ALTURA DEL ARTICULO
                margin-bottom: 1vh;

                .linkCategorias {

                    .fotoCategorias {
                        max-width: 20vw;
                    }
                }
            }
        }
    }


    /* PRODUCTOS */
    .mainProductos {

        .sectionProductos {
            display: grid;
            @include gridTemplate(3, 1fr);
            justify-items: center;
            gap: 3vh;

            .tituloProductos {
                min-width: 40vw;
            }

            .fotoProductos {
                max-width: 25vh;
            }

            .articleProductos {
                @include articleSize(auto, 25vw, 1vh);
                margin-bottom: 1vh;

                .subTituloProductos {
                    max-width: 30vw;
                }

            }
        }
    }

}



